.page {
  margin-left: 20px;
  margin-right: 20px;
  display:flex; 
  flex-direction:column; 
  height:100vh
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.buttons {
  position: absolute;
  right: 20px;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

footer {
  border-top: 1px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: auto; 
}
